body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    overflow: hidden; /* Убираем скроллбар */
}

#terminal {
    width: 100vw;
    height: 100vh;
    padding: 5px;
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
    background: #ff8800;
    border-radius: 8px;
    border: 2px solid #1e1e1e;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffab40;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #ff8800 #1e1e1e;
  }